.jumbotron {
    height: 100vh;
    text-align: center;
    background: url(src/assets/imgs/homepage.jpg);
    background-size: cover;
    background-position: center;
    color: snow;
    font-weight: 500;
    font-family: 'B612 Mono', monospace;
}

body {
    background-color: black;
}

.container {
    position: relative;
    align-items: center;
    top: 20%;
    border: 1px steelblue;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 5%;
    text-align: justify;
}

.asd {
    border: lightgoldenrodyellow;
    background: lightgoldenrodyellow;
}

.btn {
    margin-left: 10px;
}