<div class="jumbotron">

    <div class="container">
        <div class="row">
            <app-nav-bar></app-nav-bar>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" style="width: 250px;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" style=" width: 250px;" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Keep Me Logged In.</label>
                        </div>
                        <button type="submit" class="btn btn-danger">Submit</button>
                        <a class="btn btn-danger" routerLink="/login/register" href="">Register here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>