    .nav-link {
        color: black;
    }
    
    .nav-link:hover {
        color: #EA1C2C;
    }
    
    #mainNavbar {
        color: #EA1C2C;
        font-size: 3rem;
        font-weight: 900;
        margin-right: 100px;
        margin-left: 50px;
    }
    
    .navbar-inverse {
        background: bisque;
        transition: all 700ms;
    }
    
    .nav-link {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
    }