.card {
    align-items: center;
    
}

.card:hover{
    box-shadow: 5px 5px 10px grey, 3px 3px 7px red;
}

.card-img,
.card-img-top {
    height: 300px;
}

/* .col-xl-3 {
    margin: auto;
} */

.container{
    margin: 30%;
}



.grid-container{
    display: flex;
    justify-items: center;
    align-items: center;
}

mark{
    background-color: blue;
    border-radius: 4px;
    color: white;
}