<div class="grid">
    <div class="grid-items">
        <div class="container-fluid" style="margin: 3%;">
            <div class="row align-items-end">
                <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 py-2 " *ngFor="let item of providedItems"
                    ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave"
                    popoverTitle="Product Details">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="{{item.imgPath}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{item.productName}}</h5>
                            <p class="card-text">Tags: <mark class="tags ml-2">{{item.tags}}</mark>
                            </p>
                            <p class="card-text">{{item.desc}}</p>
                            <p class="card-text">Variant: <span class="variant">{{item.variant}}</span></p>
                            <p class="card-text">Time Limit: <span class="timeLimit">{{item.timeLimit}}</span></p>
                            <a href="#" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>